---
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
import { Image } from "astro:assets";
import photo from "../assets/images/team/photo.jpg";

---

<Layout>
	<main>
		<PageHeader>
			<h1>An incubator for passion projects</h1>
		</PageHeader>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--6">
					<section>
						<p>Independent Arts is a creative studio empowering Nigerian artists through research, funding, and resources. We're creating a future where independent creators are cherished, supported, and empowered.</p>
						
						<p>Our work centers on creating lasting support systems for independent artists, connecting and promoting creators through collaborative projects and thorough documentation of their work.</p>

						<p>We bring this vision to life by: </p>
						
						<ol style="padding-left: 0">
							<li> Funding select creative projects that nurture emerging talent </li>
							<li> Connecting local artists to global ideas and people </li>
							<li> Documenting and sharing cultural excellence </li>
							<li> Producing memorable events to celebrate our work </li>
						</ol>
						
						<p>Our approach empowers creators with resources and knowledge, fosters innovation in the arts, ensures diverse voices are supported, and maintains transparency in all our efforts.</p>
						
						<p>IA is managed by Williams Ogah and Opemipo Aikomo. We're based in Lagos but operate across the globe.</p>
					</section>
				</div>
				<aside class="c-section__right l-grid__column-start--8 l-grid__column--5">
					<div class="c-section">
						<figure>
							<Image src={photo} width={512} height={341} alt="L: Opemipo Aikomo (Director), R: Williams Ogah (Manager)" />
							<figcaption>L: Ope, R: Williams, Photo: Ifebusola Shotunde (2022)</figcaption>
						</figure>
					</div>
				</aside>
			</div>
		</section>
	</main>
</Layout>
