---
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
import { Image } from "astro:assets";
import photo from "../assets/images/team/photo.jpg";

---

<Layout>
	<main>
		<PageHeader>
			<h1>An incubator for passion projects</h1>
		</PageHeader>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--6">
					<section>
						<p>Independent Arts is a creative studio empowering Nigerian artists through research, funding, and resources. We help bring passion projects to life by providing grants, production support, and press coverage to independent creators who want to share their unique perspectives with the world.</p>
						
						<p>We believe that passion projects are vital to our cultural future. We've invested over $100,000 in commissions, supporting dozens of artists in bringing their creative visions to life.</p>
						
						<p>At our core, we believe in the power of community over individuals. Our work centers on creating lasting support systems for independent artists, connecting creators through collaborative projects and thorough documentation of their work.</p>
						
						<p>Our approach is built on: </p>
						
						<ul>
							<li> Empowering creators with resources and knowledge to succeed in their artistic endeavors </li>
							<li> Fostering innovation and fresh perspectives in the arts </li>
							<li> Ensuring diverse voices from all backgrounds are heard and supported </li>
							<li> Building sustainable support systems for future generations of artists </li>
							<li> Maintaining transparency and accountability in all our efforts </li>
						</ul>
						
						<p>We bring this vision to life by: </p>
						
						<ul>
							<li> Funding select creative projects that nurture emerging talent </li>
							<li> Connecting local artists to global ideas and people </li>
							<li> Contributing to the documentation of new culture </li>
							<li> Producing memorable events to celebrate excellent work </li>
						</ul>
						
						<p>IA is managed by Williams Ogah and Opemipo Aikomo. We're based in Lagos and operate globally, creating a future where independent creators are cherished, supported, and empowered.</p>
					</section>
				</div>
				<aside class="c-section__right l-grid__column-start--8 l-grid__column--5">
					<div class="c-section">
						<figure>
							<Image src={photo} width={512} height={341} alt="L: Opemipo Aikomo (Director), R: Williams Ogah (Manager)" />
							<figcaption>L: Ope, R: Williams, Photo: Ifebusola Shotunde (2022)</figcaption>
						</figure>
					</div>
				</aside>
			</div>
		</section>
	</main>
</Layout>
