---
import Layout from "@layout/Default.astro";
import { Image } from "astro:assets";
import photo from "../assets/images/team/photo.jpg";

---

<Layout>
	<main>
		<section class="l-section">
			<div class="l-container l-grid" style="margin-top: 50px">
				<div class="c-section__left l-grid__column--6">
					<section>
						<p>Independent Arts is solving a critical challenge in Nigeria's creative industry: talented artists often struggle to bring their boldest visions to life. </p>
						
						<p>We operate as a creative incubator that empowers Nigerian artists through funding, research, and distribution for passion projects.</p>
						
						<p>Our vision is to create a future where independent creators have the resources and platform they need to succeed. We bring this to life by: </p>

						<ol style="padding-left: 0">
							<li> Funding innovative creative projects </li>
							<li> Connecting local artists to global ideas and people </li>
							<li> Documenting and promoting cultural excellence </li>
							<li> Producing memorable events to celebrate our work </li>
						</ol>
						
						<p>Since 2021, we've supported over a dozen projects and connected hundreds of artists through our events and programs. We maintain transparency in all our efforts and ensure diverse voices are supported.</p>
						
						<p>IA is managed by Williams Ogah and Opemipo Aikomo, bringing together decades of experience in design, technology, and project management. We're based in Lagos but operate across the globe.</p>
					</section>
				</div>
				<aside class="c-section__right l-grid__column-start--8 l-grid__column--5">
					<div class="c-section">
						<figure>
							<Image src={photo} width={512} height={341} alt="L: Opemipo Aikomo (Director), R: Williams Ogah (Manager)" />
							<figcaption>L: Ope, R: Williams, Photo: Ifebusola Shotunde (2022)</figcaption>
						</figure>
					</div>
				</aside>
			</div>
		</section>
	</main>
</Layout>
