---
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
import { Image } from "astro:assets";
import photo from "../assets/images/team/photo.jpg";

---

<Layout>
	<main>
		<PageHeader>
			<h1>An incubator for passion projects</h1>
		</PageHeader>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--6">
					<section>
						<p>Independent Arts is a network of people, ideas, and resources to keep our most precious dreams alive. We help Nigerian artists with research, grants, production and press for passion projects.</p>
						<p>We believe that passion projects hold immense cultural value and are essential to our collective future. We've worked with dozens of artists and paid out over $100k in commissions since 2021.</p>
						Our mission is to:</p>
						<ul>
							<li>1. Fund creative projects that nurture emerging talent</li>
							<li>2. Connect local artists to global ideas and people</li>
							<li>3. Contribute to the documentation of new culture</li>
							<li>4. Produce events to celebrate excellent work</li>
						</ul>
						<p>We're based in Lagos and operate globally.</p>
					</section>
				</div>
				<aside class="c-section__right l-grid__column-start--8 l-grid__column--5">
					<div class="c-section">
						<figure>
							<Image src={photo} width={512} height={341} alt="Team photo" />
							<figcaption>L: Opemipo Aikomo (Director), R: Williams Ogah (Manager), 📸 Ifebusola Shotunde.</figcaption>
						</figure>
					</div>
				</aside>
			</div>
		</section>
	</main>
</Layout>
