---
import NewsCard from '@components/NewsCard.astro';
import Layout from '@layout/Default.astro';
import { getCollection } from 'astro:content';

const newsPosts = await getCollection('news');
---

<Layout>
  <main class='container'>
    <div class='newsContainer'>
      <div class='l-container newsGrid'>
        {newsPosts.map((newsPost) => <NewsCard data={newsPost.data} />)}
      </div>
    </div>
  </main>
</Layout>

<style>
  .newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 50%), 1fr));
    grid-gap: 2em;
    margin-top: 2em;
  }
</style>
