---
import NewsCard from "@components/NewsCard.astro";
import Layout from "@layout/Default.astro";
import { getCollection } from "astro:content";
let newsPosts = await getCollection("news");

// Sort news posts by most recent date
newsPosts.sort((a, b) => {
  const dateA = new Date(a.data.date.split('.').reverse().join('-'));
  const dateB = new Date(b.data.date.split('.').reverse().join('-'));
  return dateB - dateA;
});
---

<Layout>
  <main class="container">
    <div class="newsContainer">
      <div class="l-container newsGrid">
        {newsPosts.map(newsPost => (
          <NewsCard frontmatter={newsPost.data}/>
        ))}
      </div>
    </div>
  </main>
</Layout>

<style>
  .newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 50%), 1fr));
    grid-gap: 2em;
    margin-top: 2em;
  }
</style>