---
// Components
import BaseHead from '@components/BaseHead.astro';
import NavDefault from '@components/NavDefault.astro';
import Footer from '@components/FooterDefault.astro';
import NavArticle from '@components/NavArticle.astro';

const { article } = Astro.props;
---

<!doctype html>
<html lang='en' dir='ltr'>
  <BaseHead article={article} />

  <body>
    {article ? <NavArticle /> : <NavDefault />}
    <slot />
    <Footer />
  </body>
</html>
