---
// Components
import BaseHead from '@components/BaseHead.astro';
import NavDefault from '@components/NavDefault.astro';
import Footer from '@components/FooterDefault.astro';
import NavArticle from '@components/NavArticle.astro';

const {article} = Astro.props
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
<BaseHead />

<body>
	{!article && <NavDefault />}
  {article && <NavArticle />}
	<slot />
	<Footer />
</body>
</html>